.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding-top: 60px;
   overflow-y: auto;
   position: relative;
   align-items: center;
   justify-items: center;
   margin: 0;
   padding: 0;
   gap: 32px;
   font-family: var(--font-geist-sans);
   background: rgb(206,195,224);
   background: radial-gradient(circle, rgba(206,195,224,1) 0%, rgba(192,203,215,1) 100%);

   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
}

/* Navbar styles*/
.navbar {
  width: 100%; 
  height: 60px; 
  background: rgb(136,125,156);
  background: radial-gradient(circle, rgba(136,125,156,1) 0%, rgba(148,187,233,1) 100%);
  color: rgb(1, 1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
}

/* hovResults container */
.hovResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

/* Mascot Home page Image styles */
.mascot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 0 auto;
  transform: translateY(-92%); 
  position: relative;
  z-index: 1;
}

/* FindHovBtn Button styles */
.findHovBtn {
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -330%);
  display: block;
  margin: 2rem auto 0;
  min-width: 400px;
  background: linear-gradient(145deg, #6e7f7e, #3b4343);
  border: 2px solid #3b4343;
  border-radius: 50px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 18px 36px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;

  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), 
  background 0.3s ease, 
  box-shadow 0.3s ease;

}


/* FindHovBtn Hover effect */
.findHovBtn:hover {
  background: linear-gradient(145deg, #3b4343, #6e7f7e);
  border: 2px solid #6e7f7e;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -330%) scale(1.005);
}

/* FindHovBtn Active animation */
.findHovBtn:active {
  transform: translate(-50%, -330%) scale(0.995);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), -2px -2px 6px rgba(255, 255, 255, 0.1);
}

/* Position of input box and current location button  */
.resultsPageSpacing {
  position: relative;
  top: -250px;
}

/* Location input box */ 
.locationInput {
  position: absolute;
  top: 45vh;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  padding: 12px 20px;
  background: #464646;
  border: 1px solid gray;
  border-radius: 12px;
  color: white;
  font-size: x-large;
  cursor: text;
  z-index: 2;
}

.locationInput:hover {
  border-color: white;
}

/* OR text and lines */
.orText {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.orText::before, .orText::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 70px;
  height: 1px;
  background-color: #000;
}

.orText::before {
  right: 100%;
  margin-right: 5px;
}

.orText::after {
  left: 100%;
  margin-left: 5px;
}

.orSpan {
  background: radial-gradient(circle, rgba(206,195,224,1) 0%, rgba(192,203,215,1) 100%);
  padding: 0 5px;
}

.centerOrDiv {
  position: absolute;
  top: 55vh;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 400px;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Current Location Button */ 
.currentLocBtn {
  position: absolute;
  top: 65vh;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  min-width: 320px;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px;
  padding: 16px 24px;
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}
 
 .currentLocBtn:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
 }
 
 .currentLocBtn:active {
  box-shadow: none;
 }

/* Results Card */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  margin: 8px auto;
  background-color: #f9f9f9;
  width: 21rem;
  max-width: 25rem;
  visibility: hidden;
  animation: slideIn 0.6s ease-out forwards;
  padding-top: 0px;
  position: relative;
  top: 0;
}
.card:nth-child(1) {
  animation-delay: 0s;
}
.card:nth-child(2) {
  animation-delay: 0.2s;
}
.card:nth-child(3) {
  animation-delay: 0.4s;
}

.details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titleLane {
  font-size: 20px;
  color: #00aaff;
  margin-bottom: 8px;
}
.etaBox {
  font-size: 16px;
  margin-bottom: 16px; 
  border: 1px solid rgb(207, 203, 198);
  border-radius: 10px;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
  width: fit-content;
  min-width: 35%;
  max-width: 90%;
  padding: 0.4rem;
}
.carIcon {
  margin-right: 8px;
}
.selectButton {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin-left: 16rem;

  margin-left: 0rem;
  width: 100%;
  cursor: pointer;
}
.selectButton:hover {
  background-color: #516d91;;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}
.arrowIcon {
  margin-left: 8px;
}

/* Autocomplete Links Style*/
.links {
  cursor: pointer;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s ease-in-out;
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
}

.links strong {
  font-weight: bold;
}

.links small {
  color: #665;
  font-size: 12px;
}

.links:hover {
  background-color: #f0f0f0;
}

.suggestionsList {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(45vh + 60px);
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
  overflow: hidden;
}


.locationInput:focus {
  border-color: #007bff;
}

/* Loading icon styles */
.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  gap: 10px;
  top: 60%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinnerIcon {
  display: inline-block;
  animation: spin 2.5s linear infinite;
}

/* Restart btn styles */
.restartBtn {
  position: sticky;
  top: 70px;
  z-index: 900;
  width: auto;
  min-width: 200px;
  max-width: 300px;
  margin: 1rem auto;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px;
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
  transform: none;
  margin-top: 0;

}
.restartBtn:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
 }
 
 .restartBtn:active {
  box-shadow: none;
 }



/* Mobile Styles */

/* XL Device Styles */
@media (max-width: 768px) {

  .mascot {
    transform: translateY(-80%);
  }
  
  .findHovBtn {
    font-size: 25px;
    padding: 18px 30px;
    transform: translate(-50%, -330%);
    min-width: 410px; 
  }

  .findHovBtn:hover {
    transform: translate(-50%, -330%) scale(1.005);
  }

  .findHovBtn:active {
    transform: translate(-50%, -330%) scale(0.995);
  }

  .locationInput {
    top: 50vh;
    width: 90%;
    min-width: 320px;
    max-width: 450px;
    padding: 12px 20px;
    font-size: 22px;
  }

  .centerOrDiv {
    top: 60vh;
    width: 90%;
  }

  .currentLocBtn {
    top: 70vh;
    min-width: 280px;
    width: 90%;
    max-width: 450px;
  }

  .suggestionsList {
    width: 90%;
    min-width: 320px;
    max-width: 450px;
    top: calc(50vh + 60px);
  }

  .hovResults {
    margin-top: -1rem;
    padding: 0.5rem;
  }

  .card {
    width: 21rem;
    padding: 16px;
    margin: 5px auto;
    padding-top: 0px;
  }

  .titleLane {
    font-size: 18px;
    color: #00aaff;
    margin-bottom: 5px;
  }

  .etaBox {
    padding: 8px 16px;
    min-width: 30%;
    max-width: 90%;
    display: inline-flex;
    align-items: center;
  }

  .selectButton {
    background-color: #333;
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}

/* Large Device Styles */
@media (max-width: 480px) {

  .mascot {
    transform: translateY(-92%);
  }
  
  .findHovBtn {
    font-size: 23px;
    padding: 18px 30px;
    transform: translate(-50%, -330%);
    min-width: 380px; 
  }

  .findHovBtn:hover {
    transform: translate(-50%, -330%) scale(1.005);
  }

  .findHovBtn:active {
    transform: translate(-50%, -330%) scale(0.995);
  }

  .hovResults {
    margin-top: 1rem;
    padding: 0rem;
  }

  .locationInput {
    top: 50vh;
    width: 85%;
    min-width: 300px;
    max-width: 400px;
    font-size: 20px;
  }
    
  .centerOrDiv {
    top: 60vh;
    width: 85%;
  }
    
  .currentLocBtn {
    top: 70vh;
    min-width: 260px;
    width: 85%;
    max-width: 400px;
  }

  .orText::before, .orText::after {
    width: 50px;
  }

  .suggestionsList {
    width: 85%;
    min-width: 300px;
    max-width: 400px;
    top: calc(50vh + 60px);
  }

  .card {
    width: 19rem;
    padding: 16px;
    margin: 5px auto;
    padding-top: 0px;
    padding-bottom: 8px;
  }

  .titleLane {
    font-size: 18px;
  }

  .etaBox {
    min-width: 30%;
    max-width: 90%;
    font-size: 14px;
  }

  .loader {
    font-size: large;
  }

  .restartBtn {
    top: 0vh;
  }
}

/* Small devices */
@media (max-width: 350px) {
  .mascot {
    transform: translateY(-20%);
    width: 100%; 
    max-width: 280px; 
    margin: auto;
  }

  .findHovBtn {
    min-width: 290px;
    font-size: 18px; 
    padding: 15px 20px;
    transform: translate(-50%, -330%);
  }

  .findHovBtn:hover {
    transform: translate(-50%, -330%) scale(1.005);
  }

  .findHovBtn:active {
    transform: translate(-50%, -330%) scale(0.995);
  }

  .locationInput {
    top: 40vh;
    width: 85%;
    min-width: 280px;
    max-width: 320px;
  }
    
  .centerOrDiv {
    top: 50vh;
    width: 85%;
  }

  .orText::before, .orText::after {
    width: 40px;
  }
    
  .currentLocBtn {
    top: 60vh;
    min-width: 240px;
    width: 85%;
    max-width: 320px;
  }

  .suggestionsList {
    width: 85%;
    min-width: 280px;
    max-width: 320px;
    top: calc(35vh + 60px);
  }

  .card {
    width: 18rem;
    padding: 16px;
    margin: 10px auto;
    padding-top: 0px;
    padding-bottom: 8px;
  }

  .titleLane {
    font-size: 18px;
  }

  .etaBox {
    min-width: 20%;
    max-width: 80%;
    font-size: 14px;
  }

  .loader {
    font-size: medium;
  }

  .restartBtn {
    top: 0vh;
  }
}